body{
    padding: 0;
    margin: 0;
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
    background-image: linear-gradient(rgba(20, 20, 31, .7),rgba(20, 20, 31, .7)), url(naruto-anime-uzumaki-naruto-jiraiya-naruto-shippuuden-hd-wallpaper-preview.jpg);
    background-size: cover;
    background-position: center;
}

section{
   
    /* height: 100vh; */
    padding-top: 4.4rem;
    padding-bottom: 4.4rem;
    /* width: 100vw; */
}

.container{
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: blue;
}

div{
    text-align: center;
}

h2{
    color: red;
}

h3{
    color: blue;
}

ul li:nth-child(1){
    color: yellow;
}

ul li:nth-child(2){
    color: green;
}

ul li:nth-child(3){
    color: red;
}

a:link,
a:visited{
    text-decoration: dotted;
    color: chocolate;
    transition: 0.4s;
}

a:hover,
a:active{
    text-decoration: none;
    color: rgba(255, 0, 0, 0.395);
    box-shadow: 8px 10px 7px 0 rgba(198, 197, 197, 0.453);
}